.welcome-view {

  &, body {
    height: 100%;
  }
  body {
    background: #222;
    color: #ccc;
    font: normal 16px/1.4 'Open Sans',Helvetica,Arial,Sans-serif;
  }
  h1 {
    color: #fff;
    font-size: 24px;
    margin: 20px 0 10px 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  .wrapper {
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
  }
  .wrapper--inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .animation {
    height: 160px;
    position: relative;
  }
}

.animation div, .animation :before {
  position: absolute;
  top: 50%;
  left: 50%;
}

@import "hexagon";
