/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
// Layout
.thead {
  display: table-header-group;
}
.tfoot {
  display: table-footer-group;
}
@media screen and (min-width: $width) {
  .td {
    display: table-cell!important;
  }
  .tfoot,
  .thead {
    display: table-cell!important;
  }
  .table {
    display: table!important;
    width: 100%;
  }
}
