@media screen and (-webkit-min-device-pixel-ratio: 0) {

  .fadeIn0 {
      animation-name: fadeInDown;
      animation-duration: 1.8s;
  }

  .fadeIn {
      animation-name: fadeIn;
      animation-duration: 2s;
  }

  .fadeIn1 {
    animation-name: fadeIn;
    animation-duration: 2.5s;
  }

  .fadeIn2 {
    animation-name: fadeIn;
    animation-duration: 3s;
  }

  .fadeIn3 {
    animation-name: fadeIn;
    animation-duration: 3.5s;
  }

  .fadeIn4 {
    animation-name: fadeIn;
    animation-duration: 4s;
  }

  @keyframes fadeIn {
      0% {opacity: 0;transform: translateY(60px);}
      80% {opacity: 0;transform: translateY(60px);}
      100% {opacity: 1;opacity: 1;transform: translateY(0);}
  }

  @keyframes fadeInDown {
      0% {opacity: 0;transform: translateY(-60px);}
      80% {opacity: 0;transform: translateY(-60px);}
      100% {opacity: 1;opacity: 1;transform: translateY(0);}
  }

	a.hover {
    transition: all 500ms ease-in-out 0.3s;
	}

	a.button-hover {
  	transform-origin: 50% 50%;
    transition: all 500ms ease-in-out 0.3s;
  }
}
