---
subject: Email Assemble
googlefont_href: https://fonts.googleapis.com/css?family=Open+Sans:300,600
---
<table>
  <tr>
    <td id="intro" class="p0">
      <table>
        <tr>
          <td>spacer</td>
        </tr>
        <tr>
          <td>view online</td>
        </tr>
        <tr>
          <td>spacer</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td id="hero" class="p0">

    </td>
  </tr>
  <tr>
    <td id="content" class="p0">

    </td>
  </tr>
  <tr>
</table>
