---
subject: Default Example Email
---

<div class="hero">
  <table>
    <tr>
      <td class="p0"><img src="http://placehold.it/600x300?text=Main+header+image" alt="altText" width="600" height="300" class="imageFix imageFluid"></td>
    </tr>
  </table>
</div>

<div class="main">
  <table>
    <tr>
      <td class="content-block column-single">
        <h1 class="webfont">HTML Ipsum Presents</h1>

        <p class="br">&nbsp;</p>

        <p><strong>This is really quite clever</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.</p>

        <p class="br">&nbsp;</p>

        <p>Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

        <p class="br">&nbsp;</p>

        <h2>Header Level 2</h2>

        <p class="br">&nbsp;</p>

        <ol>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>

          <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>

        <p class="br">&nbsp;</p>

        <h3>Header Level 3</h3>

        <p class="br">&nbsp;</p>

        <ul>
          <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>

          <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
      </td>
    </tr>
  </table>
  <table id="halves" class="p0">
    <tr>
    <td class="resFull"><a href="#"><img src="http://placehold.it/300x100/994453?text=first+column" alt="altText" class="imageFix imageFluid" /></a></td>
    <td class="resFull"><a href="#"><img src="http://placehold.it/300x100/889988?text=second+column" alt="altText" class="imageFix imageFluid" /></a></td>
    </tr>
  </table>
  <table id="columns">
    <tr>
      <td class="wrapper content-block">
        <table>
          <tr>
            <td class="column-one column">
              <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo.</p>

              <p class="br">&nbsp;</p>

              <p>Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
            </td>

            <td class="column-two column">
              <table>
                <tr>
                  <td class="align-center"><a href="#"><img src="http://placehold.it/156x100/994453?text=button+text" alt="altText" class="imageFix"></a></td>
                </tr>

                <tr>
                  <td>
                    <p class="br">&nbsp;</p>

                    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table id="thirds" class="p0">
    <tr>
      <td class="resFull"><a href="#"><img src="http://placehold.it/200x150/994453?text=first+column" alt="altText" class="imageFix imageFluid"></a></td>

      <td class="resFull"><a href="#"><img src="http://placehold.it/200x150/889988?text=second+column" alt="altText" class="imageFix imageFluid"></a></td>

      <td class="resFull"><a href="#"><img src="http://placehold.it/200x150/4040f0?text=third+column" alt="altText" class="imageFix imageFluid"></a></td>
    </tr>
  </table>
</div>
